## Set github to ignore the files that match the patterns

# General Apple
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.AppleDesktop
*.original_filename.iCloud
.iCloud
.Trashes
.apdisk

# Files that might appear in the root of a volume
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

## VSCode
.vscode/

## Visual Studio
.vs/

# Local settings files
*.local.json
*.env.local


# Thumbnails
._*
Thumbs.db

# Log files
*.log

# Local embedded databases
*.db
*.db-shm
*.db-wal
